#login{
    .full-screen{
        height: 100vh;
        .login-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title{
                text-align: center;
                margin-bottom: 1.5em;
            }
            form{
                max-width: 60%;
                margin: auto;
                .form-group{
                    margin-bottom: 1.2em;
                    position: relative;
                    .password-input{
                       
                    }
                    .toggle{
                        position: absolute;
                        right: 10px;
                        top: 8%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        padding: 0;
                        margin: 1.1em 0; 
                        background-color: transparent;
                        border: none;
                        i.fa{
                            color: rgb(45, 45, 106); 
                            font-size: 1.5em;
                        } 
                    }
                }
                .btn-login{
                    background-color: rgb(45, 45, 106); 
                    color: white; 
                    border-radius: 0;
                    border: none; 
                    padding: 0.5em 1em; 
                }
            }
        }
    }
    
}

#navbar-cms {
    background-color: rgb(45, 45, 106);
    padding: 0em 4em;
    .dropdown-item, .item{
        &.active{
           a{
            background-color: #3e3e90;
           }
        }
        a{
            color: white;
            text-decoration: none;
            padding: 1.5rem 1rem;
        }
        i{
            padding-right: 1em;
        }
    }
    .dropdown-menu{
        border-radius: 0px;
        border: none;
        background-color: #2d2d6a;
        .dropdown-item:hover{
            background-color: #3e3e90;
        }
    }
}

.cms-naslov{
    padding-top:4em; 
    h2{

    }
}

#dataTable_wrapper {
    display: flex;
    flex-direction: column;
    #dataTable_paginate {
        margin-bottom: .5em;
    }
    #dataTable_filter {
        margin-bottom: 1em;
    }
    .datatable{
        width: 100% !important;
        thead{
            background-color: #a2a2d7;
        }
        .even {
            background-color: whitesmoke;
        }
        .minify{
            max-width: min-content;
        }
        .btn-update{
            background-color: #3e3e90;
            color: white; 
            border: none;
            padding: .5em 1em;
            margin-right: 1em;
        }
        .btn-delete{
            background-color: #801c1c;
            color: white; 
            border: none;
            padding: .5em 1em;
        }
    }
}

// MODAL UPDATE 

.modal{
    width: 90%;
    .modal-dialog {
        max-width: 80%;
        .close {
            background-color: white;
            border: none;
            span{
                font-size: 2em;
            }
        }
    } 
}