$ht_roza: #ee1c4e;
$crna: #000;
$zuta: #feeb39;
$navbarSiva: rgb(51, 51, 51);
$bijelo: #fff;
$accessibilitySiva: #232323;


$acc-crvena: rgb(199, 46, 43);
$acc-zelena: rgb(112, 158, 68);
$acc-plava: rgb(26, 69, 113);; 
